* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: gray;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
}

.blue-circle {
  background-color: #10538e;
}

.orange-circle {
  background-color: #f69804;
}